# ── Pesos e Imagens (Já estão seguros no Hugging Face!) ──
# Ignora os arquivos de pesos em qualquer lugar do projeto
*.pt
*.pth
*.ckpt

# Ignora os outputs gerados
results/
dataset_jogo/

# (Opcional) Ignora a pasta específica do run dentro de models, 
# mas deixa o Git ver models/encoder/ e models/dynamics/
